body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --root-inner-padding: 10px;
}

#root {
  width: calc( 480px - var(--root-inner-padding) * 2);
  padding: var(--root-inner-padding);
  margin: 0px;
  background-color: #ededed;
}

@media screen and (min-width: 481px){
  #root {
    margin-left: calc((100% - 480px + var(--root-inner-padding)) * 0.7);
    margin-right: calc((100% - 480px + var(--root-inner-padding)) * 0.3);
    background-color: #de4dde;
  }
}
